body {
    background-color: #222222;
    text-align: center;
    color: #AAAAAA;
    font-size: 64px;
}

button {
    background-color: #226622;
    border: none;
    text-align: center;
    color: #AAAAAA;
    font-size: 64px;
}

